<% if current_user.is_a?(Doctor) %>
  <p>
    <b>Clinic:</b>
    <%= @work_plan.clinic_doctor.clinic.name %>
  </p>
<% elsif current_user.is_a?(Admin) %>
  <p>
    <b>Clinic-doctor:</b>
    <%= @work_plan.clinic_doctor.summary %>
  </p>
<% end %>

<p>
  <b>Day:</b>
  <%= format_days @work_plan.day %>
</p>

<p>
  <b>Work start:</b>
  <%= format_hours @work_plan.start %>
</p>

<p>
  <b>Work end:</b>
  <%= format_hours @work_plan.stop %>
</p>

<% if current_user.is_a?(Admin) || current_user.is_a?(Doctor) %>
  <%= link_to 'Edit', edit_work_plan_path(@work_plan) %> |
<% end %>
<%= link_to 'Back', work_plans_path %>
