<h1>Listing doctors</h1>

<table class="grid">
  <tr>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Pzw</th>
    <th />
    <th>Actions</th>
    <th />
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.email%></td>
    <td><%= doctor.first_name %></td>
    <td><%= doctor.last_name %></td>
    <td><%= doctor.pzw %></td>
    <td><button text="Show"><%= link_to 'Show', doctor %></button></td>
    <td><button text="Edit"><%= link_to 'Edit', edit_doctor_path(doctor) %></button></td>
    <td><button text="Destroy"><%= link_to 'Destroy', doctor, confirm: 'Are you sure?', method: :delete %></button></td>
  </tr>
<% end %>
</table>

<br />
<br />
<button text="New Doctor">
<%= link_to 'New Doctor', new_doctor_path %></button> <hr />
