<h1>First appointment in a clinic</h1>

<%= form_for(@clinic, :url => first_clinic_create_appointments_path) do |f| %>
  <% if @clinic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinic.errors.count, "error") %> prohibited this clinic from being processed:</h2>

      <ul>
      <% @clinic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :clinic %><br />
      <%= f.collection_select(:id, Clinic.all, :id, :summary) %>
  </div>
  
  <div class="field">
    <%= label :date, :date %><br />
    <%= date_select :date, :date %>
  </div>

  <div class="actions">
    <%= f.submit 'Find'%>
  </div>
<% end %>

<%= link_to 'Back', appointments_path %>
