<p>
  <strong>Clinic:</strong>
  <%= @appointment.clinic_doctor.clinic.name %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= [@appointment.clinic_doctor.doctor.first_name, @appointment.clinic_doctor.doctor.last_name].join(' ') %>
</p>

<p>
  <strong>Date:</strong>
  <%= format_date @appointment.date %>
</p>

<p>
  <strong>Appointment start:</strong>
  <%= format_hours @appointment.start %>
</p>

<p>
  <strong>Appointment end:</strong>
  <%= format_hours @appointment.stop %>
</p>

<% if current_user.is_a?(Admin) %>
  <%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<% end %>
<%= link_to 'Back', appointments_path %>
